.menu{
	justify-content: flex-end;
	height: 90px;
}


ul>li {
	list-style-type: none;
}

a {
	color: #4A4A4A;
}

a:hover {
	/*background-color: lightblue;*/
	color: black;
	font-weight: 600;
	border-bottom: solid 3px #FCB813;
}

.nav-link {
    display: block;
    padding: 2rem 1rem;
}
