.home {
	.menu {
		background-color: #17A2B8;
		.navbar-light .navbar-nav .nav-link {
    		color: white;
		}

		.navbar .navbar-expand-sm .navbar-light {
		    padding-top: 0px;
		    padding-bottom: 0px;
		}

		ul>li {
			.nav-link {
			    padding: 20px 15px;
		    }
		}
		ul>li>a:hover {
			background-color: white;
			color: blue !important;
			
		}
	}
	.banner {
		background: url("../../img/banner.jpg") fixed no-repeat;	
		min-height: 576px;
		background-size: cover;
    	position: relative;
		.content-banner {
			position: absolute;
			text-align: center;
			color: white;
			left: 10px;
		    right: 10px;
		    max-width: 730px;
		    top: 30%;
		    padding: 20px 50px;
		    border-radius: 20px;
		    margin: auto;
		    background: rgba(197,153,94,0.7);
		    h1 {
		    	font-size: 60px;
    			text-align: center;
    			font-weight: 700;
		    }
		    p {
		    	font-size: 36px;
		    	color: white;
		    }
		}
	}

	.banner-below{
		.owl-wrapper-outer {
			overflow: hidden;
		    position: relative;
		    width: 100%;
		    .owl-wrapper {
		    	width: 2532px; 
		    	left: 0px; 
		    	display: block; 
		    	.owl-item {
		    		width: 211px;
		    		float: left;
		    		.slide {
		    			position: relative;
					    display: -webkit-flex;
					    display: flex;
					    -webkit-align-items: center;
					    align-items: center;
					    padding: 0 1em;
					    height: 30vh;
					    background-repeat: no-repeat;
					    background-position: center;
					    background-size: 100% 100%;
					    cursor: pointer;
					    z-index: 1;
							h3 {
							    margin: auto;
							    text-align: center;
							    text-transform: uppercase;
							    color: #fff;
							    font-weight: normal;
							}
							h3::after {
								content: "";
							    position: absolute;
							    top: 0;
							    bottom: 0;
							    left: 0;
							    right: 0;
							    background-color: rgba(0,0,0,0.5);
							    z-index: -1;
		    				}
		    		.slide:after {
						background-color: rgba(0,0,0,0.5);
		    		}
		    	}
		    }
		}
	}
}

	.img-content {		
		.slider-title>h1 {
			text-align: center;
			margin-top: 5rem;
		    margin-bottom: 3rem;
		    font-weight: bolder;
		    color: #ffc63d;
		    font-size: 30px;
		}
		.fluid_container {
			max-width: 1000px;
			margin: 0 auto;
			width: 90%;
		}
	}
}

.footer {
	// background-color: blue;
	height: 300px;
}
