
.container{
	display: flex;
	display: -webkit-flex; /* Safari */
	flex-wrap: wrap;
	/*align-items: stretch;*/
	width: auto;
	height: auto;
	margin: 0 auto;
}

.text{
	padding: 5px;
}

.card button{
	background-color: gray;
	border-width: 0;
	color: white;
	justify-content: center;
	padding: 10px;

}

.card img{
	padding: 5px;
	width: 100%;
}

.card{
	flex: 1; /*flex-grow flex-shrink flex-basis*/
	/*margin: 10px;*/
}

.card:nth-child(1){
	flex-grow: 2	;
	background-color: lightpink;
	align-items: flex-start;
}
.card:nth-child(2){
	background-color: lightblue;
}
.card:nth-child(3){
	background-color: lightgreen;
}
.card:nth-child(4){
	background-color: lightyellow;
}
.card:nth-child(5){
	background-color: lightgray;
}
.card:nth-child(6){
	background-color: orange;
}